<include file="./Public/tpl/header.html" />

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        角色权限相关表
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                <tr>
                                    <td width="100" style="vertical-align: middle;">原始密码：</td>
                                    <td>
                                        <input type="password" id="oldPwd" class="form-control" placeholder="输入原始密码">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100" style="vertical-align: middle;">新密码：</td>
                                    <td>
                                        <input type="password" id="newPwd" class="form-control" placeholder="输入新密码">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100" style="vertical-align: middle;">确认密码：</td>
                                    <td>
                                        <input type="password" id="rePwd" class="form-control" placeholder="确认新密码">
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <button class="btn btn-default btn-sm btn-info" type="button" id="savePaswword">保存密码</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



<script>
    $(function(){
        $('#savePaswword').click(function(){
            var pwd = $('#oldPwd').val();
            var newPwd = $('#newPwd').val();
            var rePwd = $('#rePwd').val();
            if(pwd == '' || newPwd == '' || rePwd == '') {
                alert('内容不完整～');
            } else if(pwd == newPwd){
                alert('新密码和老密码不能一致～');
            } else if(newPwd != rePwd) {
                $('#newPwd').val('');
                $('#rePwd').val('');
                alert('新密码和确认密码不一致~');
            } else {
                $.post('__URL__/ajaxPassword',{oldPwd:pwd,pwd:newPwd},function(callback) {
                    if(callback.code == 2000) {
                        window.location.reload();
                    } else {
                        alert(callback.msg);
                    }
                },'json');
            }
        });
    });
</script>


<include file="./Public/tpl/footer.html" />